name: Build & Deploy to MonsterASP.net

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore Portfolio.sln

      - name: Publish
        run: dotnet publish Portfolio.Server/Portfolio.Server.csproj -c Release -o ./publish

        
      # 3️⃣ Install Web Deploy
      - name: Install Web Deploy
        run: |
          choco install webdeploy -y
          refreshenv
 
      # 4️⃣ Deploy via WebDeploy
      - name: Deploy to MonsterASP.NET via WebDeploy
        uses: rasmusbuchholdt/simply-web-deploy@2.1.0
        with:
          website-name: ${{ secrets.WEBDEPLOY_URL }}
          server-computer-name: ${{ secrets.WEBDEPLOY_USERNAME }}
          server-username: ${{ secrets.WEBDEPLOY_USERNAME }}
          server-password: ${{ secrets.WEBDEPLOY_PASSWORD }}

            